<% include partials/head.ejs %>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="container">
  <h1>skdsj</h1>
  <input id="playerFind" type="text" />
  <p id="demo"></p>
  <p id="demo2"></p>

  <script src="public/js/sample.js"></script>
</div>
